.texthome{

	font-size: 39px;
	color: #f84d67;
	font-family: 'Baloo Thambi';
	margin-top: -221px;
}

		#imagen {
			width:100%;
			height:375px;
			position:relative;
		}
		

		img {
    width: 100%;
    height: auto;
}

.logo{

	width: 45px;
	float: left;
}

.cuidador{

	font-size: 40px;
	color: #9fa0a5;
	font-family: 'Raleway', sans-serif;
}

.help{

	margin-top:5em;
}

.img-rounded{

	    width: 162px;
    padding: 1em;
    margin-top: 5em;
}

.helping{

	margin: 0 0 10px;
    color: #f84d67;;
    font-size: 21px;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {


}