<!DOCTYPE html>
<html>
<head>
<title></title>

<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">

<link rel="stylesheet" type="text/css" href="css/style.css">

<link href="https://fonts.googleapis.com/css?family=Baloo+Thambi" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script src="app.js"></script>

<body ng-app="myApp" ng-controller="myCtrl">

<div ng-include="'header.html'"></div>

<div class='container'>

<h3>Elige a uno de nuestros cuidadores cerca a ti </h3>

<div class='row'>

<div class='col-md-3'>

<select class='form-control' ng-options="item as item.label for item in items track by item.id" ng-model="selected"><option value="" disabled selected>Ubicacion</option></select>

</div>

</div>

<hr></hr>

<div class='row'>




<div class='col-md-4' ng-repeat="model in cuidadores track by model.id">

     <div class="panel panel-default">
          <div class="panel-heading">{{model.username}}</div>


   
          <div class="panel-body"><img class='img-responsive' src='{{model.photo}}'>



          <hr></hr>

          <p>{{model.direccion}}</p>

          <p>{{model.porque}}</p>
          <a class='btn btn-danger' href='registra.html'>Escoger</button></a>

        </div>

    </div>

</div>

</div>

</div>

</body>
</html>